@font-face {
  font-family: "JuliaMono";
  src:"../fonts/juliamono/webfonts/JuliaMono-Regular.woff2" format("woff2");
  src:"../fonts/juliamono/JuliaMono-Regular.ttf" format("truetyp");
}

code {
  font-family: "JuliaMono";
}
