@font-face {
  font-family: "Tex Gyre Pagella";
  src: url( "../fonts/tex-gyre/texgyrepagella-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tex Gyre Pagella";
  src: url( "../fonts/tex-gyre/texgyrepagella-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Tex Gyre Pagella";
  src: url( "../fonts/tex-gyre/texgyrepagella-italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Tex Gyre Pagella";
  src: url( "../fonts/tex-gyre/texgyrepagella-bolditalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Tex Gyre Heros";
  src: url("../fonts/tex-gyre/texgyreheros-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tex Gyre Heros";
  src: url( "../fonts/tex-gyre/texgyreheros-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Tex Gyre Heros";
  src: url( "../fonts/tex-gyre/texgyreheros-italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Tex Gyre Heros";
  src: url("../fonts/tex-gyre/texgyreheros-bolditalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
